@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
canvas{
    height: 100%;
    width: 50%;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=search]:hover{
    background-color: transparent;
}

/* hiding arrows in input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}