.nav >* >*{
  border: 1px solid black;
  padding: 2px 8px;
  border-radius: 5px;
  
}

.nav >* >*:hover{
  color: white;
  background-color: black;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.nav {
  position: relative;
  background-color: white;
  z-index: 500;
}


.sidebtn{
  font-size: larger;
  text-align: start;
  padding: 10px;  
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
}
.sidebtn:hover{
  color: white;
  background-color: black;
  border-radius: 10px;
}

